hr {
    margin-top: 80px;
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

.titre {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 40px;
}

.titre1 {
    margin-top: 50px;
    border: 5px solid black;
    height: 120px;
    width: 280px;
    border-radius: 30px;
    background-color: black;
    opacity: 80%;
    display: flex;
    justify-content: center;
    color: white;
}

body {
    background-image: url(http://getwallpapers.com/wallpaper/full/f/3/3/765105-technology-background-images-1920x1080-free-download.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.partie1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main {
    border: 5px solid black;
    height: 580px;
    width: 780px;
    border-radius: 30px;
    background-color: black;
    opacity: 80%;
    font-size: 30px;
    color: white;
}

p {
    text-align: center;
}

.screen2 {
    height: 580px;
    width: 780px;
    border: 3px solid black;
    border-radius: 30px;
}

.partie2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.screen6 {
    height: 350px;
    width: 500px;
    border: 3px solid black;
    border-radius: 30px;
}

.screen7 {
    height: 350px;
    width: 500px;
    border: 3px solid black;
    border-radius: 30px;
}

.screen8 {
    height: 350px;
    width: 500px;
    border: 3px solid black;
    border-radius: 30px;
}

.main-3 {
    display: flex;
    justify-content: center;
}

.main3 {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    height: 60px;
    width: 180px;
    opacity: 80%;
    background-color: black;
    text-align: center;
    margin-bottom: 50px;
}

.main-4 {
    display: flex;
    justify-content: center;
}

.main4 {
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    height: 120px;
    width: 300px;
    opacity: 80%;
    background-color: black;
    text-align: center;
}

.acceuil {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 150px;
}

.acceuil1 {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100px;
    border-radius: 30px;
    opacity: 80%;
    background-color: black;
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.bas-page {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 50px;
    color: black;
}